
<html>
<head>
<title>My Profile</title>
<style>

body {
	margin:50px 0px; padding:0px;
	text-align:center;
	}
#content {
	width:700px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	}
p{
font-weight:normal;
}
</style>
</head>
<body>
<div id = content>
<h3> Application for the role of Junior Developer </h3>


<p>Dear Sir/Madam,</p>
 
 
<p>I am writing to you with regard to the vacancy as seen advertised on your site. I would like to list down my attributes which I feel are relevant for the post.</p>
 
 
<p>I am an extremely hard working, self motivated and committed individual.  As you will note from my enclosed CV, I have completed MBA in International Business at Cardiff Metropolitan University in conjunction with the London School of Commerce.  I also possess a BTEC degree in Computer Science from the Adi Shankara Institute of Engineering and Technology in India during which I had the opportunity to train with Infosys under the Infosys Campus Connect Programme.</p>
 
<p>My last job was at MyDrive Solutions as a Graduate Software Developer. Being a part of the well experienced MyDrive team, I could acquire some very strong technical skills which I had listed down in my CV. I had the opportunity to make effective contribution for active projects involving big clients.</p>
 
 
<p>Being a recent graduate, with a strong technical experience and management skills, I can make a significant contribution to the organisation and I would be a perfect fit for your company.</p>
 
 
<p>I look forward to hearing from you soon.</p>
 
<p>Yours faithfully,</p>
 
<p>Rahul Madathum Palliyalil</p>

<%= button_to "MY CV", cv_myprofile_index_path, :method => "get" %>
</div>
</body> 
</html>

